<h1><%= @project.title %></h1>

<ul>
  <% @project.tasks.each do |task| %>
  <li>
    <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-project_id' => task.project_id } %>
    <span><%= task.title %></span>
    <%= link_to "[Delete]", project_task_path(task.project_id, task.id), method: :delete,  data: { confirm: "are you sure?" } %>
  </li>
  <% end %>
</ul>
<%= form_for [@project, @project.tasks.build] do |f| %>
<p>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<script>
$(function() {
  $("input[type=checkbox]").each(function(i, elem) {
    toggleColor($(elem).next(), $(elem).prop('checked'));
  })

  $("input[type=checkbox]").click(function() {
    $.post('/projects/' + $(this).data('project_id') + '/tasks/' + $(this).data('id') + '/toggle');
    toggleColor($(this).next(), $(this).prop('checked'));
  });
});

function toggleColor(elem, isChecked) {
  var color = isChecked ? '#aaa' : '#000';
  $(elem).css('color', color);
}
</script>
